<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="../">

  <!-- Title  -->
  <title>Essence - Cart</title>

  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/favicon.ico">

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="css/style.css">
</head>


<body>

  <!-- ##### Header Area Start ##### -->
  <header class="header_area" id="header-top">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between light left">
      <!-- Classy Menu -->
      <nav class="classy-navbar" id="essenceNav">
        <!-- Logo -->
        <a class="nav-brand" data-v-url="index/index" href="/">
          <img src="img/core-img/logo.png" alt>
        </a>
        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler">
          <span class="navbarToggler">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <!-- Menu -->
        <div class="classy-menu">
          <!-- close btn -->
          <div class="classycloseIcon">
            <div class="cross-wrap">
              <span class="top"></span>
              <span class="bottom"></span>
            </div>
          </div>
          <!-- Nav Start -->
          <div class="classynav">
            <ul>
              <li class="megamenu-item">
                <a href="#">Categories
                </a>

                <div class="megamenu">
                  <div class="single-mega cn-col-4" data-v-component-categories="popular" data-v-id_category="1">
                    <h4 class="title">Popular</h4>

                    <ul data-v-cats>
                      <li data-v-cat>
                        <a href="/shop/Mac" data-v-cat-url data-v-cat-name>Mac</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Software" data-v-cat-url data-v-cat-name>Software</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Components" data-v-cat-url data-v-cat-name>Components</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Phones &amp; PDAs" data-v-cat-url data-v-cat-name>Phones &amp; PDAs</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/desktops" data-v-cat-url data-v-cat-name>Desktops</a>
                      </li>
                    </ul>
                  </div>
                  <div class="single-mega cn-col-4" data-v-component-categories="newest" data-v-id_category="14">
                    <h4 class="title">Newest</h4>

                    <ul data-v-cats>
                      <li data-v-cat>
                        <a href="/shop/test 6" data-v-cat-url data-v-cat-name>test 6</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/test 7" data-v-cat-url data-v-cat-name>test 7</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/test 8" data-v-cat-url data-v-cat-name>test 8</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/test 9" data-v-cat-url data-v-cat-name>test 9</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/test 11" data-v-cat-url data-v-cat-name>test 11</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/mp3-players" data-v-cat-url data-v-cat-name>MP3 Players</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/laptop-notebooks" data-v-cat-url data-v-cat-name>Laptops &amp; Notebooks</a>
                      </li>
                    </ul>
                  </div>
                  <div class="single-mega cn-col-4" data-v-component-categories="bestsellers">
                    <h4 class="title">Bestsellers</h4>

                    <ul data-v-cats>
                      <li data-v-cat>
                        <a href="/shop/Monitors" data-v-cat-url data-v-cat-name>Monitors</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Mac" data-v-cat-url data-v-cat-name>Mac</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Web Cameras" data-v-cat-url data-v-cat-name>Web Cameras</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Cameras" data-v-cat-url data-v-cat-name>Cameras</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Scanners" data-v-cat-url data-v-cat-name>Scanners</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Printers" data-v-cat-url data-v-cat-name>Printers</a>
                      </li>
                      <li data-v-cat>
                        <a href="/shop/Mice and Trackballs" data-v-cat-url data-v-cat-name>Mice and Trackballs</a>
                      </li>
                    </ul>
                  </div>
                  <div class="single-mega cn-col-4">
                    <img src="img/bg-img/bg-6.jpg" alt>
                  </div>
                </div>
                <span class="dd-trigger"></span>
                <span class="dd-arrow"></span>
              </li>
              <li>
                <a href="/shop" data-v-url="product/index">Shop</a>
              </li>
              <li>
                <a href="/blog" data-v-url="content/index">Blog</a>
              </li>
              <li class="cn-dropdown-item has-down pr12">
                <a href="#">Pages</a>
                <ul class="dropdown">
                  <li>
                    <a href="content/index.html" data-v-url="content">Blog</a>
                  </li>
                  <li>
                    <a href="contact.html" data-v-url="content/page/index" data-v-url-params='{"slug":"guides"}'>Guides</a>
                  </li>
                  <li>
                    <a href="contact.html" data-v-url="content/page/index" data-v-url-params='{"slug":"contact"}'>Order status</a>
                  </li>
                  <li>
                    <a href="page.html" data-v-url="content/page/index" data-v-url-params='{"slug":"shipping-delivery"}'>Shipping &amp; Delivery</a>
                  </li>
                  <li>
                    <a href="contact.html" data-v-url="content/page/index" data-v-url-params='{"slug":"payment-options"}'>Payment options</a>
                  </li>
                  <li>
                    <a href="contact.html" data-v-url="content/page/index" data-v-url-params='{"slug":"contact"}'>Contact</a>
                  </li>
                </ul>

                <span class="dd-trigger"></span>
                <span class="dd-arrow"></span>
              </li>
              <li>
                <a href="contact.html" data-v-url="content/page/index" data-v-url-params='{"slug":"contact"}'>Contact</a>
              </li>
            </ul>
          </div>
          <!-- Nav End -->
        </div>
      </nav>

      <!-- Header Meta Data -->
      <div class="header-meta d-flex clearfix justify-content-end">
        <!-- Search Area -->
        <div class="search-area">
          <form action="/search" method="get" data-v-action="/search">
            <input type="hidden" name="route" value="search">
            <input type="search" name="search" id="headerSearch" placeholder="Type for search" data-v-vvveb-action="search" data-v-vvveb-on="keyup">
            <button type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </div>
        <!-- Favourite Area -->
        <div class="favourite-area">
          <a href data-v-url="account/whishlist">
            <img src="img/core-img/heart.svg" alt>
          </a>
        </div>
        <!-- User Login Info -->
        <div class="dropdown user-login-info">
          <a class="dropdown-toggle" href role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-v-url="account/dahsboard">
            <img src="img/core-img/user.svg" alt>
          </a>

          <div class="dropdown-menu login-box" aria-labelledby="dropdownMenuLink">

            <div data-v-component-user>

              <div class="card border-danger mb-3" id="errors" data-v-errors>
                <div class="card-body">

                  <div data-v-error>
                    <span class="text-danger"> &#10006; </span>
                    <span data-v-error-text> Can't connect to database </span>
                  </div>

                </div>
              </div>


              <form action method="post" enctype="multipart/form-data" data-v-url="user/login/index" data-v-vvveb-action="login" data-v-vvveb-on="submit">

                <input type="hidden" name="csrf" data-v-csrf>

                <div class="login-form" data-v-if-not="component.user_id">

                  <div class="mb-3">
                    <label class="control-label" for="input-email">E-Mail Address</label>
                    <input type="email" name="email" value placeholder="E-Mail Address" id="input-email" class="form-control" required>
                  </div>

                  <div class="mb-3">
                    <label class="control-label" for="input-password">Password</label>
                    <input type="password" name="password" value placeholder="Password" id="input-password" class="form-control" required>
                  </div>

                  <button type="submit" value="Login" class="btn btn-primary  btn-block">

                    <span class="loading d-none">
                      <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                      </span>
                      <span>Authenticating</span>...
                    </span>

                    <span class="button-text">
                      Login
                    </span>

                  </button>

                  <a href="/user/recover" data-v-url="user/recover/index" class="my-2">Forgotten Password</a>

                  <br>
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-google fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                  <hr>
                  <strong>New Customer</strong>
                  <a href="/user/signup" data-v-url="user/signup/index">Register Account</a>

                </div>


                <div class="user-form" data-v-if="component.user_id">
                  <div>Welcome <b data-v-display_name>John Doe</b>
                  </div>

                  <ul class="m-2">
                    <li>
                      <a href="#">Comments</a>
                    </li>
                    <li>
                      <a href="#">Orders</a>
                    </li>
                    <li>
                      <a href="#">Downloads</a>
                    </li>
                    <li>
                      <a href="#">Profile</a>
                    </li>
                  </ul>


                  <input type="hidden" name="logout">

                  <button type="submit" value="logout" class="btn btn-primary  btn-block">

                    <span class="loading d-none">
                      <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                      </span>
                      <span>Loading ...</span>...
                    </span>

                    <span class="button-text">
                      Logout
                    </span>

                  </button>
                </div>
              </form>



            </div>
          </div>
        </div>

        <!-- Cart Area -->
        <div class="cart-area" data-v-component-cart>
          <a href="#" id="essenceCartBtn">
            <img src="img/core-img/bag.svg" alt>
            <span data-v-total-items>3</span>
          </a>

          <!-- ##### Right Side Cart Area ##### -->
          <div class="cart-bg-overlay"></div>

          <div class="right-side-cart-area">

            <!-- Cart Button -->
            <div class="cart-button">
              <a href="#" id="rightSideCart">
                <img src="img/core-img/bag.svg" alt>
                <span data-v-total-items>3</span>
              </a>
            </div>

            <div class="cart-content d-flex">

              <!-- Cart List Area -->
              <div class="cart-list">
                <!-- Single Cart Item -->
                <div class="single-cart-item" data-v-cart-product>
                  <a href="#" class="product-image" data-v-cart-product-url>
                    <img src="img/product-img/product-1.jpg" class="cart-thumb" alt data-v-cart-product-img>
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                      <span class="product-remove" data-v-vvveb-action="removeFromCart" data-product_id="1">
                        <i class="fa fa-close" aria-hidden="true"></i>
                      </span>
                      <span class="badge">Mango</span>
                      <h6 data-v-cart-product-name>Button Through Strap Mini Dress</h6>
                      <p class="size">Size: S</p>
                      <p class="color">Color: Red</p>
                      <p class="price" data-v-cart-product-price>$45.00</p>
                    </div>
                  </a>
                </div>


                <!-- Single Cart Item -->
                <div class="single-cart-item" data-v-cart-product>
                  <a href="#" class="product-image" data-v-cart-product-url>
                    <img src="img/product-img/product-2.jpg" class="cart-thumb" alt data-v-cart-product-img>
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                      <span class="product-remove">
                        <i class="fa fa-close" aria-hidden="true"></i>
                      </span>
                      <span class="badge">Mango</span>
                      <h6 data-v-cart-product-name>Button Through Strap Mini Dress</h6>
                      <p class="size">Size: S</p>
                      <p class="color">Color: Red</p>
                      <p class="price" data-v-cart-product-price>$45.00</p>
                    </div>
                  </a>
                </div>



                <!-- Single Cart Item -->
                <div class="single-cart-item" data-v-cart-product>
                  <a href="#" class="product-image" data-v-cart-product-url>
                    <img src="img/product-img/product-3.jpg" class="cart-thumb" alt data-v-cart-product-img>
                    <!-- Cart Item Desc -->
                    <div class="cart-item-desc">
                      <span class="product-remove">
                        <i class="fa fa-close" aria-hidden="true"></i>
                      </span>
                      <span class="badge">Mango</span>
                      <h6 data-v-cart-product-name>Button Through Strap Mini Dress</h6>
                      <p class="size">Size: S</p>
                      <p class="color">Color: Red</p>
                      <p class="price" data-v-cart-product-price>$45.00</p>
                    </div>
                  </a>
                </div>




              </div>

              <!-- Cart Summary -->
              <div class="cart-amount-summary">

                <h2>Summary</h2>
                <ul class="summary-table">
                  <li>
                    <span>subtotal:</span>
                    <span data-v-subtotal>$274.00</span>
                  </li>
                  <li>
                    <span>delivery:</span>
                    <span data-v-delivery>Free</span>
                  </li>
                  <li>
                    <span>discount:</span>
                    <span data-v-discount>-15%</span>
                  </li>
                  <li>
                    <span>total:</span>
                    <span data-v-total>$232.00</span>
                  </li>
                </ul>
                <div class="checkout-btn mt-100">
                  <a class="btn btn-link" href="/cart" data-v-url="cart/cart/index">VIEW CART</a>
                  <a class="btn essence-btn" href="/checkout" data-v-url="checkout/checkout/index">check out</a>
                </div>
              </div>
            </div>
          </div>
          <!-- ##### Right Side Cart End ##### -->
        </div>
      </div>

    </div>


    <div id="search-panel">

      <div class="container-fluid mx-5 justify-content-center align-items-center" data-v-component-search>

        <div data-v-if-not="search.query" class="mt-4 text-center">
          <h3 class="text-muted">Enter text to search!</h3>
        </div>

        <div data-v-if="search.query">

          <div class="row" data-v-component-posts="popular" data-v-limit="4" data-v-search="url">


            <div class="col-12 col-md-12 col-lg-12" data-v-if-not="posts.count">
              <h3>No posts found!</h3>
            </div>

            <!-- Single Blog Area -->
            <div class="col-6 col-md-4 col-lg-3" data-v-post>
              <div class="single-blog-area mb-50">
                <a href="/hello-world-1" data-v-post-url class="row" title="">
                  <div class="col-4">
                    <img src="/public/media/posts/1.jpg" alt data-v-post-img>
                  </div>
                  <!-- Post Title -->
                  <div class="post-title col-8">
                    <span data-v-post-name>Vivamus sed nunc in arcu cursus mollis quis et orci. Interdum et malesuada</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-post>
              <div class="single-blog-area mb-50">
                <a href="/hello-world-2" data-v-post-url class="row" title="">
                  <div class="col-4">
                    <img src="/public/media/posts/2.jpg" alt data-v-post-img>
                  </div>
                  <!-- Post Title -->
                  <div class="post-title col-8">
                    <span data-v-post-name>Cras lobortis nisl nec libero pulvinar lacinia. Nunc sed ullamcorper massa</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-post>
              <div class="single-blog-area mb-50">
                <a href="/hello-world-3" data-v-post-url class="row" title="">
                  <div class="col-4">
                    <img src="/public/media/posts/3.jpg" alt data-v-post-img>
                  </div>
                  <!-- Post Title -->
                  <div class="post-title col-8">
                    <span data-v-post-name>Fusce tincidunt nulla magna, ac euismod quam viverra id. Fusce eget metus feugiat</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-post>
              <div class="single-blog-area mb-50">
                <a href="/hello-world-4" data-v-post-url class="row" title="">
                  <div class="col-4">
                    <img src="/public/media/posts/4.jpg" alt data-v-post-img>
                  </div>
                  <!-- Post Title -->
                  <div class="post-title col-8">
                    <span data-v-post-name>Etiam leo nibh, consectetur nec orci et, tempus tempus ex</span>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="row" data-v-component-products="search" data-v-page="url" data-v-taxonomy_id="url" data-v-limit="4" data-v-parent="category.0" data-v-search="url">

            <div class="col-12 col-md-12 col-lg-12" data-v-if-not="products.count">
              <h3>No products found!</h3>
            </div>

            <!-- Single Product -->
            <div class="col-6 col-md-4 col-lg-3" data-v-product>

              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/product-one" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/product-one" data-v-product-url title="">
                    <img src="/public/media/product/28_2357.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/28_2356.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/product-one" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/product-one" data-v-product-url title="">
                    <span data-v-product-name>Product 8</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>100.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="1">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/product-two" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/product-two" data-v-product-url title="">
                    <img src="/public/media/product/29_2393.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/29_2392.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/product-two" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/product-two" data-v-product-url title="">
                    <span data-v-product-name>iPod Classic</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>279.9900</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="2">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/product-three" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/product-three" data-v-product-url title="">
                    <img src="/public/media/product/30_2353.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/30_2352.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/product-three" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/product-three" data-v-product-url title="">
                    <span data-v-product-name>iPhone</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>100.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="3">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/product-four" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/product-four" data-v-product-url title="">
                    <img src="/public/media/product/31_2389.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/31_2388.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/product-four" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/product-four" data-v-product-url title="">
                    <span data-v-product-name>Product 4</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>80.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="4">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/product-five" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/product-five" data-v-product-url title="">
                    <img src="/public/media/product/32_2375.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/32_2374.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/product-five" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/product-five" data-v-product-url title="">
                    <span data-v-product-name>MacBook Air</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>100.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="5">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/product-six" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/product-six" data-v-product-url title="">
                    <img src="/public/media/product/33-103_main.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->

                  </a>
                  <div class="product-favourite">
                    <a href="/product/product-six" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/product-six" data-v-product-url title="">
                    <span data-v-product-name>MacBook Pro</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>200.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="6">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/palm-treo-pro" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/palm-treo-pro" data-v-product-url title="">
                    <img src="/public/media/product/34_2371.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/34_2370.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/palm-treo-pro" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/palm-treo-pro" data-v-product-url title="">
                    <span data-v-product-name>Palm Treo Pro</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>100.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="7">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/ipod-nano" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/ipod-nano" data-v-product-url title="">
                    <img src="/public/media/product/35-105_main.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->

                  </a>
                  <div class="product-favourite">
                    <a href="/product/ipod-nano" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/ipod-nano" data-v-product-url title="">
                    <span data-v-product-name>iPod Nano</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>100.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="8">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/sony-vaio" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/sony-vaio" data-v-product-url title="">
                    <img src="/public/media/product/36_2366.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/36_2365.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/sony-vaio" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/sony-vaio" data-v-product-url title="">
                    <span data-v-product-name>Sony VAIO</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>100.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="9">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/HP-LP3065" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/HP-LP3065" data-v-product-url title="">
                    <img src="/public/media/product/40_2362.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/40_2361.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/HP-LP3065" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/HP-LP3065" data-v-product-url title="">
                    <span data-v-product-name>Product 3</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>101.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="10">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/iPod-Touch" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/iPod-Touch" data-v-product-url title="">
                    <img src="/public/media/product/41_2358.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/41_2359.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/iPod-Touch" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/iPod-Touch" data-v-product-url title="">
                    <span data-v-product-name>iPod Touch</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>100.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="11">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3" data-v-product>
              <div class="single-product-wrapper row">
                <!-- Product Image -->
                <a href="/product/Product 5" data-v-product-url title="">
                </a>
                <div class="product-img col-4">
                  <a href="/product/Product 5" data-v-product-url title="">
                    <img src="/public/media/product/42_2410.jpg" alt data-v-product-img>

                    <!-- Hover Thumb -->
                    <img class="hover-img" src="/public/media/product/42_2409.jpg" alt data-v-img-hover>
                  </a>
                  <div class="product-favourite">
                    <a href="/product/Product 5" data-v-product-url title="">
                    </a>
                    <a href="#" class="favme fa fa-heart"></a>
                  </div>
                </div>

                <!-- Product Description -->
                <div class="product-description col-8">
                  <!-- span>topshop</span -->
                  <a href="/product/Product 5" data-v-product-url title="">
                    <span data-v-product-name>Product 5</span>
                  </a>
                  <span data-v-product-currency></span>
                  <p class="product-price" data-v-product-price>100.0000</p>

                  <!-- Hover Content -->
                  <div class="hover-content">
                    <!-- Add to Cart -->
                    <div class="add-to-cart-btn">
                      <input type="hidden" name="product_id" value data-v-product-product_id>
                      <a href class="btn essence-btn" data-v-product-cart-url data-v-vvveb-action="addToCart" data-product_id="12">

                        <span class="loading d-none">
                          <span class="spinner-border spinner-border-sm align-middle" role="status" aria-hidden="true">
                          </span>
                          <span>Add to cart</span>...
                        </span>


                        <span class="button-text">
                          Add to cart
                        </span>


                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </header>
  <!-- ##### Header Area End ##### -->


  <!-- ##### Blog Wrapper Area Start ##### -->
  <div class="single-blog-wrapper">

    <!-- Single Blog Post Thumb -->
    <div class="single-blog-post-thumb">
      <img src="img/bg-img/bg-8.jpg" alt="">
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="regular-page-content-wrapper section-padding-80">
            <div class="regular-page-text">


              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">New Customer</h5>
                      <p>
                        <strong>Register Account</strong>
                      </p>
                      <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                      <a href="" class="btn btn-primary" data-v-url="user/signup/index">Continue</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Returning Customer</h5>
                      <p>
                        <strong>I am a returning customer</strong>
                      </p>
                      <form action="" method="post" enctype="multipart/form-data" data-v-url="user/index/login">
                        <div class="mb-3">
                          <label class="control-label" for="input-email">E-Mail Address</label>
                          <input type="email" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                          <label class="control-label" for="input-password">Password</label>
                          <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" required>
                          <a href="#recover" data-v-url="user/recover/index">Recover Password</a>
                        </div>
                        <input type="submit" value="Login" class="btn btn-primary">
                        <input type="hidden" name="redirect" value="">
                      </form>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ##### Blog Wrapper Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix" id="footer">
      <div class="container">
        <div class="row">
          <!-- Single Widget Area -->
          <div class="col-12 col-md-6">
            <div class="single_widget_area d-flex mb-30">
              <!-- Logo -->
              <div class="footer-logo me-50">
                <a href="#">
                  <img src="img/core-img/logo2.png" alt="">
                </a>
              </div>
              <!-- Footer Menu -->
              <div class="footer_menu">
                <ul>
                  <li>
                    <a href="/shop" data-v-url="product/index">Shop</a>
                  </li>
                  <li>
                    <a href="" data-v-url="content/index/index">Blog</a>
                  </li>
                  <li>
                    <a href="/page/contact" data-v-url="content/page/index" data-v-url-params="{&quot;slug&quot;:&quot;contact&quot;}">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget Area -->
          <div class="col-12 col-md-6">
            <div class="single_widget_area mb-30">
              <ul class="footer_widget_menu">
                <li>
                  <a href="page.html" data-v-url="content/page/index" data-v-url-params='{"slug":"contact"}'>Order status</a>
                </li>
                <li>
                  <a href="page.html" data-v-url="content/page/index" data-v-url-params='{"slug":"payment-options"}'>Payment options</a>
                </li>
                <li>
                  <a href="page.html" data-v-url="content/page/index" data-v-url-params='{"slug":"shipping-delivery"}'>Shipping &amp; Delivery</a>
                </li>
                <li>
                  <a href="page.html" data-v-url="content/page/index" data-v-url-params='{"slug":"guides"}'>Guides</a>
                </li>
                <li>
                  <a href="page.html" data-v-url="content/page/index" data-v-url-params='{"slug":"term-use"}'>Term of use</a>
                </li>
                <li>
                  <a href="page.html" data-v-url="content/page/index" data-v-url-params='{"slug":"privacy-policy"}'>Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row align-items-end">
          <!-- Single Widget Area -->
          <div class="col-12 col-md-6">
            <div class="single_widget_area">
              <div class="footer_heading mb-30">
                <h6>Subscribe</h6>
              </div>
              <div class="subscribtion_form">
                <form action="#" method="post">
                  <input type="email" name="mail" class="mail" placeholder="Your email here">
                  <button type="submit" class="submit">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <!-- Single Widget Area -->
          <div class="col-12 col-md-6">
            <div class="single_widget_area">
              <div class="footer_social_area">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest">
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube">
                  <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

              Powered by <a href="https://www.vvveb.com" target="_blank">Vvveb</a>
            </p>
          </div>
        </div>

      </div>
    </footer>
    <!-- ##### Footer Area End ##### -->


    <div class="alert alert-light alert-dismissible fade alert-top" role="alert" style="display:none">
      <div class="container">

        <div class="message">
          Product was added to cart.
        </div>


        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>

    <!-- Vvveb Ajax Common Js -->
    <script src="../../js/app.js"></script>

    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <!-- script src="js/plugins.js"></script -->
    <script src="js/owl.carousel.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

    <!-- theme specific -->
    <script src="js/main.js"></script>



</body>

</html>